.git
.spago
output
node_modules
dist
next.js/
bun/
elysia/
purescript-deku/
skills/
e2e
venom
.github
.env
.env.*
!.env.example
book.txt
playwright-report
test-results
docker-compose*.yml
Dockerfile
Makefile
dist-server
